* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: 1px solid red;
*/
}
/* custom scrollbar */
.customscroll {
  height: 100%;
  max-height: calc(100vh - 205px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: red !important;
}
.customscroll::-webkit-scrollbar {
  width: 5px;
}

/* custom scrollbar */
.customscrollgeneral {
  scrollbar-width: thin;
  scrollbar-color: red !important;
}
.customscrollgeneral::-webkit-scrollbar {
  width: 5px;
}

.active_link {
  color: black !important;
  font-weight: 700;
}

.owl-dot.active span {
  background: #fcc82b !important;
}
.owl-dot span {
  background: lightgray !important;
  width: 60px !important;
  height: 2px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
  position: absolute;
  top: -40px;
  left: 40%;
}

@media (max-width: 750px) {
  .owl-dot span {
    width: 40px !important;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    left: 28%;
  }
}

.ppp {
  color: red;
}
